.wrapper {
	margin-top: 40px;
}

.title {
	display: grid;

	grid-template-columns: auto 1fr auto;

	align-items: baseline;
	justify-items: left;
	gap: 20px;
}

.chapter {
	margin-top: 45px;
}

.tags {
	margin-top: 20px;

	margin-bottom: 50px;
}
