.product {
	display: grid;

	margin-top: 15px;

	padding: 30px;

	grid-template-columns:
		[start]
		70px
		[logo]
		30px
		[titlestart]
		calc(50% - 100px)
		[middle]
		1fr
		[pricestart]
		auto
		[priceend]
		40px
		[creditstart]
		auto
		[creditend]
		40px
		[ratingstart]
		auto
		[end];
}

.logo {
	grid-column: start/logo;
	grid-row: 1/ span 2;
}

.title,
.tags {
	grid-column: titlestart / middle;
}

.price,
.priceText {
	grid-column: pricestart / priceend;
}

.credit,
.creditText {
	grid-column: creditstart / creditend;
}

.rating,
.ratingText {
	grid-column: ratingstart / end;
}

.line1,
.line2,
.description,
.control {
	grid-column: start / end;
}

.character {
	grid-column: start / middle;
}

.advBlock {
	grid-column: middle / end;
}

.logo img {
	width: 70px;
	height: auto;
	mix-blend-mode: multiply;

	border-radius: 5px;
}

.title {
	align-self: flex-end;
}

.price,
.credit {
	align-self: flex-end;

	font-size: 20px;
	line-height: 27px;
	justify-self: left;

  white-space: nowrap;
}

.rating {
	align-self: flex-end;
  white-space: nowrap;
}

.priceText,
.creditText,
.ratingText {
	align-self: flex-start;

	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.creditPrefix {
	font-size: 14px;
	font-weight: normal;
	line-height: 19px;
}

.priceWrapper {
	display: grid;
	grid-template-columns: auto auto;

	align-items: center;
}

.saleTag {
	margin-left: 5px;
}

.categoryTag {
	margin-top: 5px;
}

.description {
	margin-bottom: 20px;
}

.advBlock .advantages {
	padding-left: 15px;

	border-left: 3px solid var(--good);
}

.advBlock .disadvantages {
	margin-top: 20px;
	padding-left: 15px;

	border-left: 3px solid var(--bad);
}

.advBlock h4 {
	margin-bottom: 5px;
}

.characterItem {
	display: grid;
	align-items: flex-end;

	margin-bottom: 11px;
	padding-right: 60px;

	grid-template-columns: auto 1fr auto;
	gap: 12px;
}

.characterItem:last-child {
	margin-bottom: 0;
}

.characterName {
	font-weight: bold;
}

.characterDots {
	margin-bottom: 4px;

	border-bottom: 1px dashed #C4C4C4;
}

.reviewButton {
	margin-left: 20px;
}

@media screen and (max-width: 1320px) {
	.product {
		grid-template-columns: 70px 30px auto 40px auto 40px 1fr;

		grid-template-areas:
			"logo . title title title title title"
			"logo . tags tags tags tags tags"
			"price price price . credit . rating"
			"priceText priceText priceText . creditText . ratingText"
			"line1 line1 line1 line1 line1 line1 line1"
			"description description description description description description description"
			"character character character character character character character "
			"advBlock advBlock advBlock advBlock advBlock advBlock advBlock "
			"line2 line2 line2 line2 line2 line2 line2 "
			"control control control control control control control ";
	}

	.logo {
		grid-area: logo;

		margin-bottom: 20px;
	}

	.title {
		grid-area: title;
	}

	.description {
		grid-area: description;
	}

	.tags {
		grid-area: tags;
	}

	.price {
		grid-area: price;
	}

	.credit {
		grid-area: credit;
	}

	.rating {
		grid-area: rating;
	}

	.priceText {
		grid-area: priceText;
	}

	.creditText {
		grid-area: creditText;
	}

	.priceText {
		grid-area: priceText;
	}

	.ratingText {
		grid-area: ratingText;
	}

	.line1 {
		grid-area: line1;
	}

	.line2 {
		grid-area: line2;
	}

	.character {
		grid-area: character;

		margin-bottom: 20px;
	}

	.advBlock {
		grid-area: advBlock;
	}

	.control {
		grid-area: control;
	}
}

@media screen and (max-width: 640px) {
	.product {
		grid-template-columns: 70px 30px 1fr;

		grid-template-areas:
			"logo . title"
			"logo . tags"
			"priceText priceText price"
			"creditText creditText credit"
			"ratingText ratingText rating"
			"line1 line1 line1"
			"description description description"
			"character character character"
			"advBlock advBlock advBlock"
			"line2 line2 line2"
			"control control control";
	}

  .tags {
    margin-bottom: 20px;
  }
  .price,
  .credit, .rating {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .product {
    grid-template-columns: 1fr;

    grid-template-areas:
      "logo"
      "title"
      "tags"
      "price"
      "priceText"
      "credit"
      "creditText"
      "rating"
      "ratingText"
      "line1"
      "description"
      "character"
      "advBlock"
      "line2"
      "control";
  }

  .price,
  .credit,
  .rating {
    margin-bottom: 0;
  }

  .priceText, .creditText, .ratingText {
    margin-bottom: 10px;
  }
}

